body {
  background: #000;
}

* {
  margin: 0;
  padding: 0;
}

.Animated-BG {
  width: 100%;
  position: "fixed";
  top: 0;
  left: 0;
  z-index: -5;
  /* background-color: black; */
}

.height {
  height: 200vh;
  /* background-color: rgba(92, 165, 84, 0.169); */
}

.leaf {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* user-select: none !important; */
  z-index: -5;
}

.leaf div {
  position: absolute;
  display: block;
  user-select: none !important;
}

.leaf div:nth-child(1) {
  left: 20%;
  animation: fall 15s linear infinite;
  animation-delay: -2s;
}

.leaf div:nth-child(2) {
  left: 70%;
  animation: fall 15s linear infinite;
  animation-delay: -4s;
}

.leaf div:nth-child(3) {
  left: 10%;
  animation: fall 20s linear infinite;
  animation-delay: -7s;
}

.leaf div:nth-child(4) {
  left: 50%;
  animation: fall 18s linear infinite;
  animation-delay: -5s;
}

.leaf div:nth-child(5) {
  left: 85%;
  animation: fall 14s linear infinite;
  animation-delay: -5s;
}

.leaf div:nth-child(6) {
  left: 65%;
  animation: fall 16s linear infinite;
  animation-delay: -10s;
}

.leaf div:nth-child(7) {
  left: 95%;
  animation: fall 15s linear infinite;
  animation-delay: -8s;
}

.leaf div:nth-child(8) {
  left: 70%;
  animation: fall 15s linear infinite;
  animation-delay: -1s;
}

.leaf div:nth-child(9) {
  left: 40%;
  animation: fall 15s linear infinite;
  animation-delay: -9s;
}

.leaf > div > img {
  display: none;
  z-index: -5 !important;
}

@keyframes fall {
  0% {
    opacity: 1;
    top: -10%;
    transform: rotate(0deg);
  }

  10% {
    opacity: 0.8;
    transform: rotate(45deg);
  }

  20% {
    transform: (90deg);
  }

  30% {
    transform: rotate(135deg);
  }

  40% {
    transform: rotate(180deg);
  }

  60% {
    transform: rotate(225deg);
  }

  70% {
    transform: rotate(260deg);
  }

  80% {
    transform: rotate(295deg);
  }

  90% {
    transform: rotate(325deg);
  }
  

  100% {
    opacity: 0.5;
    top: 110%;
    transform: (360deg);
  }
}

img {
  height: "75px";
  width: "75px";
}
  
/* // media query  */

@media screen and (min-width: 768px) {
  img {
    height: 120px;
    width: 120px;
  }
}

@media screen and (min-width: 1024px) {
  img {
    height: 150px;
    width: 150px;
  }
}
